<div class="row justify-space-between-md">
     <div class="dashboard-card">
    <h2 class="page-title">Your Dashboard</h2>
    <div class="new-post">
      
    </div>
    <div>
    <button class="newPost-button">New Post</button>
   </div>
  </div>
</div>