<div class="row justify-space-between-md">
    <div class="login-card">
        <h2 class="page-title">The Tech Blog</h2>
        <form class="form login-form">
          <h3>Login</h3>
            <div class="form-group">
                <label for="username-login">Email:</label>
                <input class="form-input" type="text" id="username-login"/>

            </div>
            <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
        </form>
    </div>
   <div>
    <a href="/signup">Sign Up Instead</a>
   </div>

</div>
<script src="/js/login.js"></script>