<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Blog Post</title>
    {{!-- insert link to style sheets here --}}

</head>
<body>
<header>
    <h1>This is the homepage Tech Blog</h1>
</header>
<nav>
    <a href="/">Home</a>
    {{!-- {{#if loggedIn}} --}}
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{!-- {{else}} --}}
    <a href="/login">Login</a>
    {{!-- {{/if}} --}}
    <a href="/logout">Logout</a>
    
</nav>



</body>

</html>