 <div class="row justify-space-between-md">
 <div class="signup-card">
    <h2 class="page-title">The Tech Blog</h2>
    <form class="form signup-form">
        <h3>Sign Up</h3>
      <div class="form-group">
        <label for="username-signup">Email:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
    <div>
    <a href="/login">Login Instead</a>
   </div>
  </div>
  </div>
  <script src="/js/signup.js"></script>